@import "src/index";

.inputs {
	display: grid;
	margin-top: 18px;
	gap: 15px 13px;
	grid-template-columns: 1fr 1fr
}

@media screen and (max-width: $collapse) {
	.inputs {
		grid-template-columns: 1fr;
	}
}


