.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	display: flex;
	align-items: center;
	padding-left: 43px;
	height: 100%;
}

.modalWidth {
	width: min-content;
	max-width: none !important;
}
