@import "src/index";

.container {
	display: flex;
	width: 800px;
	height: 600px;
	padding: 60px 67px 60px 68px;
}

.wrapper {
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	padding: 44px 22px 32px 19px;
}

.svgWrapper {
	pointer-events: none;
	display: flex;
	justify-content: end;
	position: absolute;
	width: 100%;
	right: -104px;
	bottom: -57px;
}

@media screen and (max-width: $collapse) {
	.container {
		height: min-content;
	}
}
